@model Contact
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni İletişim Bilgisi Güncelle</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <label>Telefon</label>
            <input type="tel" asp-for="PhoneNumber" class="form-control" />
            <br />
            <label>Email</label>
            <input type="email" asp-for="Email" class="form-control" />
            <br />
            <label>Adres</label>
            <input type="text" asp-for="Address" class="form-control" />
            <br />
            <label>Açıklama</label>
            <textarea asp-for="Description" rows="3" class="form-control"> </textarea>
            <br />
            <button class="btn btn-success">Güncelle</button>
        </form>
    </div>
</div>

